<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <style>
       .header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
  }
    .mx-auto{
      text-align: center;
    }
    .blogheader {
     background-color: #F1F1F1;
     text-align: center;
     margin: auto;
      width: 700px;
      padding: 20px;
     
     }
     .result{
      text-align: left;
     margin: auto;
      width: 700px;
      padding: 20px;

     }
         
     </style>
      </head>
    <body>
      <h1 class = "header">Fake news Today</h1>
      <br>
      <h6 class = "blogheader">โปรดระวังข้อความที่มีเนื้อหาดังต่อไปนี้</h6>
      <div class="result">
       <a href>ศูนย์ป้องกันแผ่นดินไหว รายงาน 19.00 น. กทม. ไม่พบกลุ่มฝน อุณหภูมิที่สำนักการระบายน้ำ 29 องศาเซลเซียส ความชื้นสัมพัทธ์ 65%</a>
       <br>
       <br>
       <a href>สำนักนายกรัฐมนตรีแจ้ง ประเทศไทยมีฝนเพิ่มขึ้น โดยมีฝนตกหนักถึงหนักมากและมีลมแรงบริเวณภาคเหนือ ภาคตะวันออกเฉียงเหนือ ภาคกลาง ภาคตะวันออก</a>
       <br>
      </div>
    </body>
</html>