<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
          .header {
     background-color: #F1F1F1;
     text-align: center;
     padding: 20px;
     }
     .blogheader {
     background-color: #F1F1F1;
     text-align: center;
     margin: auto;
      width: 700px;
      padding: 20px;
     
     }
     .result{
      text-align: left;
     margin: auto;
      width: 700px;
      padding: 20px;

     }
     hr.dashed {
    border-top: 3px dashed #bbb;
    margin: auto;
      width: 500px;
      padding: 20px;
}
          
        </style>
      </head>
    <body>
      <h1 class = "header">Fast Checking</h1>
      <h6 class = "blogheader">ข่าวเฝ้าระวัง</h6>
      <div class="result">
       <h class="font-weight-bold">เนื้อหาข่าว</h>
       <p>ศูนย์ป้องกันแผ่นดินไหว รายงาน 19.00 น. กทม. ไม่พบกลุ่มฝน อุณหภูมิที่สำนักการระบายน้ำ 29 องศาเซลเซียส ความชื้นสัมพัทธ์ 65%</p> 
       <br>
       <br>
       <h class="font-weight-bold"><u>เหตุที่ควรเฝ้าระวัง</u></h>
       <p>มีแนวโน้มว่าจะเป็นข่าวปลอม</p>
       <br>
       <br>
       <h class="font-italic">(ทำนายโดยแบบจำลองที่มีค่าความแม่นยำร้อยละ 89)</h>
       <br>
       <br>
      </div>
      <hr class="dashed">
      <div class ="result">
        <h class="font-weight-bold">ข่าวที่มีเนื้อหาคล้ายกัน</h>
        <img src="C:\Users\THIS PC\Desktop\internshipproject\project_flask\pic\Capture.png">

      </div>

    </body>
</html>